#container{
    display: flex;
    flex-direction: column;
    background: #fff;
    align-items: center;
    padding: 5vw;
    height: 50vh;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.7);
}

body{
    background: #970b50;
    display: flex;
    width: 99vw; 
    height: 90vh; 
    align-items: center;
    justify-content: center;
}

h1{
    padding: 20px;
    border-radius: 5px;   
    animation: anima 1.5s infinite;

}

h1::after{
    content: '';
    width: 15vw;
    height: 10vh;
    margin-left: -12.7vw;
    margin-top: -3vh;
    position: absolute;
    border-radius: 5px;
}

h4{
    margin-top: -12px;
}

#button{
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

#content{
    width: 230px;
    position: absolute;
    margin-top:  40vh;
    text-align: center;
    display: none;
}

@keyframes anima{
    50%{        
        color: #970b50;
    }
}