*{
    margin: 0;
    padding: 0
}

body{
    display: flex;
    flex-direction: column;
    background: #970b32;
    width: 100vw;
}

header{
    font-size: 20pt;
    margin-top: 20px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

#container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    width: 400px;
    height: 500px;
    background: gray;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.8);
    border-radius: 8px;
}

#display{
    width: 25vw;
    margin: 20px auto;
    flex-wrap: wrap;
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 10vh;
    border-radius: 5px;
    background: rgb(35,180,70);
    border: 3px solid #1b1b1b;
    font-size: 20pt;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    justify-content: space-between;
}

#resultado{
    width: 100%;
    margin-right: 0
}

#buttons{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 77%;
    padding: 20px;
}

.button{
    margin: 2px;
    width: 70px;
    height: 70px;
    font-size: 15pt;
    border-radius: 5px;
    border: none;
    background-color: #1b1b1b;
    color: #fff;
}

.button::before{
    content: '';
    width: 55px;
    height: 55px;
    position: absolute;
    border-radius: 5px;
    border: 3px solid gray;
    background-color: transparent;
    margin-left: -25px;
    margin-top: -20px;
}

.button:hover{
    transform: scale(90%);
    cursor: pointer;
}

.igual{
    width: 144px;
}

.igual::before{
    content: '';
    width: 125px;
    height: 55px;
    position: absolute;
    border-radius: 5px;
    border: 3px solid gray;
    background-color: transparent;
    margin-left: -60px;
    margin-top: -20px;
}